
body {
    margin: 0;
}

.App {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 10vh;
    background-image: url(http://2.bp.blogspot.com/-6o3eFC78-_8/VggLKf9KBPI/AAAAAAABM00/WDFg4TEcGp4/s1600/th_nazi_occult___the_tome_by_wraithdt-d944bgl.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.outputNumber {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vh;
    /* border-bottom: 1px solid white; */
    color: white;
}

.numberButtons {
    height: 60vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: start;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: center;
}

.rollButton {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vh;
    /* border-top: 1px solid white; */
    color: white;
}

.button {
    height: 15vh;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.rollButton:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.score {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20vh;
}

.scoreString {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 10vh;
}